<div class="container px-4 px-lg-5"> 
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Dragon Ball Super</h2>
                    <p class="card-text">Dragon Ball Super is a Japanese manga series written by Akira Toriyama and illustrated by Toyotarou. It follows the adventures of Son Goku and friends during the ten-year timeskip after the defeat of Majin Boo. It began serialization in Shueisha's monthly shōnen manga magazine V Jump in June 2015.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" target=”_blank” href="https://en.dragon-ball-official.com/ ">
                        More Info
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Dragon Ball Daima</h2>
                    <p class="card-text">Dragon Ball Daima is a new anime series with direct involvement from series creator, Akira Toriyama, that's set to debut in Fall 2024, most likely in October. Dragon Ball Daima features Goku and the rest of the series' characters getting de-aged into children and figuring out the cause of this odd curse</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" target=”_blank” href="https://dragonball.fandom.com/wiki/Dragon_Ball_Daima">
                        More Info
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Dragon Ball GT</h2>
                    <p class="card-text">Dragon Ball GT is a Japanese anime television series based on Akira Toriyama's Dragon Ball manga that ran from February 1996 to November 1997. Unlike Dragon Ball and Dragon Ball Z, the previous two television adaptations in the Dragon Ball media franchise, Dragon Ball GT does not adapt the manga by Toriyama.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" target=”_blank” href="https://dragonball.fandom.com/wiki/Dragon_Ball_GT">
                        More Info
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
            <video width="320" height="240" controls style="align-content: center;">
                <source src="" type="video/mp4"/>
                Your browser does not support the video tage.
            </video>
        </div>
    </div>

    <p class="text-white m-0" style="font-size: x-large; text-align: center;">
    <a href="https://www.youtube.com/user/Simplilearn"><img alt="None" class="img-fluid rounded mb-4 mb-lg-0" src="assets/logo.jpg" width="150px" height="150px"></a></p>
    <br>
    <p style="text-align: center;">Check Out Our YouTube Channel!</p>
</div>